{% extends 'VPLayoutBundle:Home:HomePage.html.twig' %}

{% block body %}
<div class='row'>
 {% for entity in entities %}
    <div class="col-md-3 mb">
        <div class="white-panel pn">
            <div class="white-header">
                <h5>{{ entity.name }}</h5>
                                </div>
                                <p><a href="{{ path('poll_show', { 'id': entity.id }) }}"><img src="{{asset('bundles/vplayout/img/poll.svg')}}" class="img-circle" width="80"></a>
                                </p>
                                <p>author: <b> {{ entity.user }} </b></p>
                                <div class="row">
                                    <div class="col-md-6">
                                        <p class="small mt">START</p>
                                        <p>{% if entity.dateStart %}{{ entity.dateStart|date('Y-m-d H:i:s') }}{% endif %}</p>
                                    </div>
                                    <div class="col-md-6">
                                        <p class="small mt">END</p>
                                        <p>{% if entity.dateEnd %}{{ entity.dateEnd|date('Y-m-d H:i:s') }}{% endif %}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
        {% endfor %}
</div>
    {% endblock %}
