{% extends 'VPLayoutBundle:Home:HomePage.html.twig' %}

{% block body %}
   

    <div class="form-panel">
    
             
               <h1> {{ entity.name }} </h1>
            
                
                <h3>{{ entity.question }}</h3>
            
               Poll started: {{ entity.dateStart|date('Y-m-d H:i:s') }}
               <br/>
               Poll ends: 
            
                {{ entity.dateEnd|date('Y-m-d H:i:s') }}
    
    <br>
    <h2>Choices</h2>
    {% for answer in entity.answers %}

        <li><h4> {{ answer.content }} </h4></li>

    {% endfor %}

   

   <a href="{{ path('vote_create', {"id": entity.id }) }}">Vote</a>
        <ul class="record_actions">
</div>

    <li>
        <a href="{{ path('poll') }}">
            Back to the list
        </a>
</ul>
{% endblock %}
