{% extends 'VPLayoutBundle:Home:HomePage.html.twig' %}

{% block body -%}

<div class='row'>
 {% for entity in entities %}
    <div class="col-md-3 mb">
        <div class="white-panel pn">
            <div class="white-header">
                <h5><a href="{{ path('poll_show', { 'id': entity.poll.id }) }}">{{ entity.poll }}</a></h5>
                                </div>
                                <p><a href="{{ path('vote_show', { 'id': entity.id }) }}"><img src="{{asset('bundles/vplayout/img/vote.svg')}}" width="80"></a>
                                </p>
                                <p>First choice: {{ entity.getFirstChoice() }}</p>
                                <div class="row">
                                    <div class="col-md-6 col-xs-6">
                                        <p class="small mt">VOTED ON</p>
                                        <p>{% if entity.date %}{{ entity.date|date('Y-m-d H:i') }}{% endif %}</p>
                                    </div>
                                    <div class="col-md-6 col-xs-6">
                                        <p class="small mt">POLL STATUS</p>
                                        <p>
                                            {% if entity.poll.dateEnd < date() %}
                                                closed
                                            {% else %}
                                                open
                                            {% endif %}

                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
        {% endfor %}
</div>
    
{% endblock %}
