{% extends 'VPLayoutBundle:Home:HomePage.html.twig' %}
{% block body %}
    <div class="col-md-8 col-md-offset-2">
    <div class="form-panel">
    
    <h2 class="mb text-center"> {{poll.name}} </h2>
        <div class="row text-center">
            <img src="{{asset('bundles/vplayout/img/checklistopen.svg')}}" width="120">
        </div>
       
    <h4 class="mb"><i class="fa fa-angle-right"></i> {{poll.question}}</h4>
      <h3 class="mb text-center">Your vote</h3>
      {{ form_start(form) }}
        {% for preference in form.preferences %}
          <h4> Your preference number {{ preference.vars.value.rank }}: </h4>
            {{ form_row(preference.answer)}}
            {{ form_row(preference.approved) }}
            {{ form_row(preference.negative) }}
        {% endfor %}
    {{ form_end(form) }}
</div>
</div>
{% endblock %}
