{% extends 'VPLayoutBundle:Home:HomePage.html.twig' %}
{% block body %}
    <div class="col-md-8 col-md-offset-2">
    <div class="form-panel">
    
    <h2 class="mb text-center"> {{poll.name}} </h2>
        <div class="row text-center">
            <img src="{{asset('bundles/vplayout/img/checklistopen.svg')}}" width="120">
        </div>
       
    <h4 class="mb"><i class="fa fa-angle-right"></i> {{poll.question}}</h4>
      <h3 class="mb text-center">Your vote</h3>
      {{ form_start(form) }}
      {{ form_errors(form) }}
      <div class="row">
            <div class="col-md-2 col-md-offset-8">
              approved
            </div>
            <div class="col-md-2">
            negative voting
            </div>
      </div>
        {% for preference in form.preferences %}
           <h5 class="col-md-12">Your choice number {{ preference.vars.value.rank }}:</h5>
          <div class ="col-md-8">
            {{ form_widget(preference.answer, {'attr': {'class': 'form-control'}})}}
          </div>
          <div class ="col-md-2">
            {{ form_widget(preference.approved)}}
          </div>
          <div class="btn-group col-md-2">
            {{ form_label(preference.negative)}}
            {{ form_widget(preference.negative)}}
          </div>
        {% endfor %}
      <div class="row">
        <div class="col-md-12">
          <br>
    {{ form_widget(form.submit, {'attr': {'class': 'btn btn-theme03  btn-lg btn-block'}}) }}
        </div>
      </div>
    {{ form_end(form) }}
</div>
</div>
{% endblock %}
