{% extends 'VPLayoutBundle:Home:HomePage.html.twig' %}

{% block body -%}
    <div class="form-panel">
               <h2>{{ entity.poll }} - your vote</h2>
               Date of vote: {{ entity.date|date('Y-m-d H:i:s') }}
            
    
    <br>
    <h2>Your preferences</h2>
    {% for preference in entity.preferences %}
        {# dobrze by posortować wg ranka #}

        <h4> {{ preference.answer }} </h4>
        <p>{{ preference.rank}}<p>
        <p> Negative vote: {{preference.negative}}</p>
        <p> Approved: {{preference.approved}}</p>

    {% endfor %}
</div>
{% endblock %}
